<app-nav>Cargando...</app-nav>
<!-- <section style="display:flex">
    <aside class="col-md-4">
        <h2>Categorías</h2>
        <div class="list-group">
            <a href="#" class="list-group-item">Literatura</a>
            <a href="#" class="list-group-item">Ciencias Sociales</a>
            <a href="#" class="list-group-item">Ciencias Naturales</a>
            <a href="#" class="list-group-item">Derecho</a>
            <a href="#" class="list-group-item">Filosofía</a>
            <a href="#" class="list-group-item">Infantiles</a>
            <a href="#" class="list-group-item">2Da. Mano</a>
            <a href="#" class="list-group-item">Nuevos lanzamientos</a>
            <a href="#" class="list-group-item">Antiguos</a>
        </div>

    </aside>
</section> -->

<section class="grid">
    <aside>
        <div class="secciones">
            
        <ul id="subnav" class="metro-nav metro-nav-vertical">
                <h5 class="icon-cat">Categorías</h5>
                    <li><a routerLink="/categoria-detalle">BetSellers</a></li>
                    <li><a routerLink="/categoria-detalle">Nuevos Lanzamientos</a></li>
                    <li><a routerLink="/categoria-detalle">Clásicos</a></li>
                    <li><a routerLink="/categoria-detalle">Infantiles</a></li>
                    <li><a routerLink="/categoria-detalle">Juveniles</a></li>
                    <li><a routerLink="/categoria-detalle">2da Mano</a></li>
                    <li><a routerLink="/categoria-detalle">Antiguos</a></li>    
            </ul>
        </div>
    </aside>

        <div>

            <router-outlet></router-outlet>
        </div>
        
</section>
<app-footer></app-footer>
