<div class="container">

    <div class="page-header">
        <h1>Letras Prohibidas</h1>
    </div>
    <div class="container">

        <!--Buscador-->
        <div class="row">
            <div class="offset-4">

            </div>
             <div class="col-sm col-md-4">
                     <div class="search">
                            <form class="form-inline my-8 my-lg-0">
                                <input class="form-control mr-lg-2" type="search" placeholder="¿Qué estas buscando?" aria-label="Buscar">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                    </div>
             </div>
             <div class="offset-4">
             </div>
        </div>
        
         <!--Fila 1-->
        <div class="row">
                <div class="col-sm-6 col-lg-3">
                <div class="card" *ngFor="let i of inicio">
                    <img class="card-img-top" src="assets/libsInit/prince.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"> {{i.titulo}} </h5>
                        <p class="card-text"> {{i.autor}} </p>
                        <p class="card-text"> {{i.editorial}} </p>
                        <p class="card-text"> {{i.precio}} </p>
                        <a routerLink="/libro-detalle" class="card-link">Detalles</a>
                    </div>
                </div>
            </div>
        </div>

            <!-- <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="assets/libsInit/arteguerra.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Detalles</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="assets/libsInit/cienaños.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Detalles</a>
                    </div>
                </div>
            </div> -->

         <!--Fila 2-->

       <!--  <div class="row">
            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="assets/libsInit/iliada.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Detalles</a>
                    </div>
                </div>
            </div>
        </div> -->

            <!-- <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="assets/libsInit/islate.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="assets/libsInit/mountain.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Detalles</a>
                    </div>
                </div>
            </div>
        </div>

         <!--Fila 3-->

        <!-- <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <img class="card-img-top" src="assets/libsInit/crimen.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Detalles</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm">
                    <div class="card">
                        <img class="card-img-top" src="assets/libsInit/elviejoy.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <img class="card-img-top" src="assets/libsInit/hinvisibñe.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Detalles</a>
                        </div>
                    </div>
                </div>
            </div> -->

            <!--Fila 4-->

           <!--  <div class="row">
                    <div class="col-sm">
                        <div class="card" >
                            <img class="card-img-top" src="assets/libsInit/orgpre.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Detalles</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm">
                        <div class="card">
                            <img class="card-img-top" src="assets/libsInit/rebelion.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Detalles</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" >
                            <img class="card-img-top" src="assets/libsInit/viajecentro.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
    </div> -->

</div>