<div class="container">
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h1 class="display-4">¿Quiénes Somos?</h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
               deleniti quasi voluptatibus ab quidem porro praesentium dolore totam soluta optio,
               magnam dolor, similique ea ipsam ullam dicta aspernatur doloribus! Possimus!.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, 
              qui nulla fugit nemo repudiandae sed illum. Pariatur asperiores reiciendis odio ducimus,
               dicta similique consequatur? Vel ratione nostrum sed voluptatem odio!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quibusdam laudantium itaque iste aliquam culpa, 
              voluptates dolorem commodi reprehenderit,
               pariatur fugiat veritatis illo, aliquid saepe accusamus hic consequuntur labore error!</p>
      </div>
  </div>
  
</div>
