<div class="footer">
  <div class="social-icons">
    <ul>
      <li><a href="https://www.facebook.com/agustin.curiel.37" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/agusDev4" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://plus.google.com/u/1/106173308390668681550" target="_blank"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.linkedin.com/in/agustin-curiel-17616a16a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://github.com/agusDevelope" target="_blank"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
  <div class="other-menu">
     <ul>
       <li><a href="#">Home</a></li>
       <li><a href="#">Services</a></li>
       <li><a href="#">Ferias</a></li>
       <li><a href="#">Bazares</a></li>
     </ul>
  </div>
  <div class="bottom">
     <p>Copyright &copy;<a href="">Agustin Curiel</a></p>
  </div>
</div>
